/*
Font Sizes:
 Heading (L) - Outfit Light - 32px (3.2rem)

  Heading (M) - Outfit Light - 24px (2.4rem)

   Heading (XS) - Outfit Medium - 18px (1.8rem)

   Body (M) - Outfit Light - 15px (1.rem)

   Body (S) - Outfit Light - 13px (1.3rem)

*/
:root {
  --color-primary: #10141e;
  --color-secondary: #5a698f;
  --color-tertiary: #161d2f;
  --color-accent: #fc4747;
  --color-text: #ffffff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: var(--color-text);
}
